{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Formens B2B2 API",
    "description" : "Formens B2B2 API",
    "version" : "103"
  },
  "security" : [ {
    "api_key" : [ ]
  } ],
  "servers" : [ {
    "url" : "https://node.formens.ro/b2b2"
  } ],
  "paths" : {
    "/orderTailoring" : {
      "post" : {
        "tags" : [ "Order" ],
        "summary" : "Add a new order",
        "description" : "Add a new order",
        "operationId" : "addOrder",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          },
          "description" : "Order object that needs to be added"
        },
        "responses" : {
          "201" : {
            "description" : "item created"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          }
        }
      }
    },
    "/fabrics_stock/{name}" : {
      "get" : {
        "summary" : "Fabric detail",
        "description" : "Fabric detail",
        "tags" : [ "Fabrics" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FabricStock"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid/incomplete Fabric reference supplied"
          },
          "404" : {
            "description" : "Fabric reference not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_bases" : {
      "get" : {
        "summary" : "Jacket Bases",
        "description" : "List Jacket Bases",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket bases",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketBase"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_bases/{name}" : {
      "get" : {
        "summary" : "Jacket Base",
        "description" : "List Jacket Base Types",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketBase"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Base name supplied"
          },
          "404" : {
            "description" : "Base name not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_models" : {
      "get" : {
        "summary" : "Jacket Models",
        "description" : "List Jacket Models",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "base",
          "description" : "Filter jacket models by base_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket models",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketModel"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket base name supplied"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_models/{name}" : {
      "get" : {
        "summary" : "Jacket Model",
        "description" : "Jacket Model",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket model name supplied"
          },
          "404" : {
            "description" : "Jacket model name not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_constructions" : {
      "get" : {
        "summary" : "Jacket Constructions",
        "description" : "List Jacket Constructions",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "base",
          "description" : "Jacket constructions available for base",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket constructions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketConstruction"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket base name supplied"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_constructions/{name}" : {
      "get" : {
        "summary" : "Jacket Construction",
        "description" : "Jacket Construction",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketConstruction"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Construction name supplied"
          },
          "404" : {
            "description" : "Jacket Construction not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_sleeveheads" : {
      "get" : {
        "summary" : "Jacket Sleeve Heads",
        "description" : "List Jacket Sleeve Heads",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "base_name",
          "description" : "Jacket Sleeve Heads available for base_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Sleeve Heads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketSleeveHead"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket base name supplied"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_sleeveheads/{id}" : {
      "get" : {
        "summary" : "Jacket Sleeve Head",
        "description" : "Jacket Sleeve Head",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketSleeveHead"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Sleeve Head name supplied"
          },
          "404" : {
            "description" : "Jacket Sleeve Head not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_interiors" : {
      "get" : {
        "summary" : "Jacket Interiors",
        "description" : "List Jacket Interiors",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "base_name",
          "description" : "Jacket Interiors available for base_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "sleevehead_id",
          "description" : "Jacket Interiors available with sleevehead",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Interiors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketInterior"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket base name supplied"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_interiors/{id}" : {
      "get" : {
        "summary" : "Jacket Interior",
        "description" : "Jacket Interior",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketInterior"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Interior name supplied"
          },
          "404" : {
            "description" : "Jacket Interiors not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_linings" : {
      "get" : {
        "summary" : "Jacket Linings",
        "description" : "List Jacket Linings",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "interior_id",
          "description" : "Jacket Linings available for suplied interior",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Linings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketLining"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Interior id supplied"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_linings/{id}" : {
      "get" : {
        "summary" : "Jacket Lining",
        "description" : "Jacket Lining",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketLining"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Lining id supplied"
          },
          "404" : {
            "description" : "Jacket Lining not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_pockets" : {
      "get" : {
        "summary" : "Jacket Pockets",
        "description" : "List Jacket Pockets",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Pockets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketPocket"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_pockets/{id}" : {
      "get" : {
        "summary" : "Jacket Pocket",
        "description" : "Jacket Pocket",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketPocket"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Pocket id supplied"
          },
          "404" : {
            "description" : "Jacket Pocket not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_vents" : {
      "get" : {
        "summary" : "Jacket Vents",
        "description" : "List Jacket Vents",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Vents",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketVent"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_vents/{id}" : {
      "get" : {
        "summary" : "Jacket Vent",
        "description" : "Jacket Vent",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketVent"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Vent id supplied"
          },
          "404" : {
            "description" : "Jacket Vent not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_lapel-buttonholes" : {
      "get" : {
        "summary" : "Jacket Lapelbuttonholes",
        "description" : "List Jacket Lapelbuttonholes",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Lapelbuttonholes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketLapelbuttonhole"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_lapel-buttonholes/{id}" : {
      "get" : {
        "summary" : "Jacket Lapelbuttonhole",
        "description" : "Jacket Lapelbuttonhole",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketLapelbuttonhole"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Lapelbuttonhole id supplied"
          },
          "404" : {
            "description" : "Jacket Lapelbuttonhole not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_buttons" : {
      "get" : {
        "summary" : "Jacket Buttons",
        "description" : "List Jacket Buttons",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Buttons",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketButton"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_buttons/{id}" : {
      "get" : {
        "summary" : "Jacket Button",
        "description" : "Jacket Button",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketButton"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Button id supplied"
          },
          "404" : {
            "description" : "Jacket Button not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_collar-felts" : {
      "get" : {
        "summary" : "Jacket Collar Felts",
        "description" : "List Jacket Collar Felts",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Collar Felts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketCollarFelt"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_collar-felts/{id}" : {
      "get" : {
        "summary" : "Jacket Collar Felt",
        "description" : "Jacket Collar Felt",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketCollarFelt"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Collar Felt id supplied"
          },
          "404" : {
            "description" : "Jacket Collar Felt not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_elbow-patches" : {
      "get" : {
        "summary" : "Jacket Elbow Patches",
        "description" : "List Jacket Elbow Patches",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Elbow Patches",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketElbowPatch"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_elbow-patches/{id}" : {
      "get" : {
        "summary" : "Jacket Elbow Patch",
        "description" : "Jacket Elbow Patch",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketElbowPatch"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Elbow Patch id supplied"
          },
          "404" : {
            "description" : "Jacket Elbow Patch not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_contrast-threads" : {
      "get" : {
        "summary" : "Jacket Contrast Threads",
        "description" : "List Jacket Contrast Threads",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Contrast Threads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketContrastThread"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_contrast-threads/{id}" : {
      "get" : {
        "summary" : "Jacket Contrast Thread",
        "description" : "Jacket Contrast Thread",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketContrastThread"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Contrast Thread id supplied"
          },
          "404" : {
            "description" : "Jacket Contrast Thread not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_secondary-options" : {
      "get" : {
        "summary" : "Jacket Secondary Options",
        "description" : "List Jacket Secondary Options",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketSecondaryOption"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_secondary-options/{id}" : {
      "get" : {
        "summary" : "Jacket Secondary Option",
        "description" : "Jacket Secondary Option",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketSecondaryOption"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Secondary Option id supplied"
          },
          "404" : {
            "description" : "Jacket Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_related-secondary-options" : {
      "get" : {
        "summary" : "Jacket Related Secondary Options",
        "description" : "List pairs of Jacket Secondary Options that can not be assigned to an order on the same time",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_related-secondary-options/{name}" : {
      "get" : {
        "summary" : "Jacket Related Secondary Options",
        "description" : "Pairs of Jacket Secondary Option that are the same type and can't be defined on the same order",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Secondary Option id supplied"
          },
          "404" : {
            "description" : "Jacket Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_sizes" : {
      "get" : {
        "summary" : "Jacket Sizes",
        "description" : "List Jacket Sizes",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "base_name",
          "description" : "Jacket sizes available for base_name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Sizes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketSize"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_default-measurements" : {
      "get" : {
        "summary" : "Jacket Default Measurements for model and size",
        "description" : "List Jacket Default Measurements for model and size",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "model_name",
          "description" : "Jacket Model Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "size",
          "description" : "Jacket Size",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Default Measurements",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketDefaultMeasurement"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_secondary-alterations" : {
      "get" : {
        "summary" : "Jacket Secondary Alterations",
        "description" : "List Jacket Secondary Alterations",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Secondary Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JacketSecondaryAlteration"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_secondary-alterations/{id}" : {
      "get" : {
        "summary" : "Jacket Secondary Alteration",
        "description" : "Jacket Secondary Alteration",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JacketSecondaryAlteration"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Secondary Alteration id supplied"
          },
          "404" : {
            "description" : "Jacket Secondary Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_related-alterations" : {
      "get" : {
        "summary" : "Jacket Related Alterations",
        "description" : "List pairs of Jacket Alterations that can not be assigned to an order on the same time",
        "tags" : [ "Jacket" ],
        "responses" : {
          "200" : {
            "description" : "An array of jacket Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jacket_related-alterations/{name}" : {
      "get" : {
        "summary" : "Jacket Related Alterations",
        "description" : "Pairs of Jacket Alterations that are the same type and can't be defined on the same order",
        "tags" : [ "Jacket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Jacket Alteration id supplied"
          },
          "404" : {
            "description" : "Jacket Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_models" : {
      "get" : {
        "summary" : "Trouser Models",
        "description" : "List Trouser Models",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Models",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserModel"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_models/{id}" : {
      "get" : {
        "summary" : "Trouser Model",
        "description" : "Trouser Model",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Model id supplied"
          },
          "404" : {
            "description" : "Trouser Model not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_front-pockets" : {
      "get" : {
        "summary" : "Trouser Front Pockets",
        "description" : "List Trouser Front Pockets",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Front Pockets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserFrontPocket"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_front-pockets/{id}" : {
      "get" : {
        "summary" : "Front Pocket",
        "description" : "Front Pocket",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserFrontPocket"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Front Pocket id supplied"
          },
          "404" : {
            "description" : "Trouser Front Pockets not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_back-pockets" : {
      "get" : {
        "summary" : "Trouser Back Pockets",
        "description" : "List Trouser Back Pockets",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Back Pockets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserBackPocket"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_back-pockets/{id}" : {
      "get" : {
        "summary" : "Back Pocket",
        "description" : "Back Pocket",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserBackPocket"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Back Pocket id supplied"
          },
          "404" : {
            "description" : "Trouser Back Pockets not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_front-creases" : {
      "get" : {
        "summary" : "Trouser Front Creases",
        "description" : "List Trouser Front Creases",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Front Creases",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserFrontCrease"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_front-creases/{id}" : {
      "get" : {
        "summary" : "Front Crease",
        "description" : "Front Crease",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserFrontCrease"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Front Crease id supplied"
          },
          "404" : {
            "description" : "Trouser Front Crease not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_linings" : {
      "get" : {
        "summary" : "Trouser Linings",
        "description" : "List Trouser Linings",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Linings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserLining"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_linings/{id}" : {
      "get" : {
        "summary" : "Lining",
        "description" : "Lining",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserLining"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Lining id supplied"
          },
          "404" : {
            "description" : "Trouser Lining not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_bottom-finishes" : {
      "get" : {
        "summary" : "Trouser Bottom Finishes",
        "description" : "List Trouser Bottom Finishes",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Bottom Finishes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserBottomFinish"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_bottom-finishes/{id}" : {
      "get" : {
        "summary" : "Bottom Finish",
        "description" : "Bottom Finish",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserBottomFinish"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Bottom Finish id supplied"
          },
          "404" : {
            "description" : "Trouser Bottom Finish not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_buttons" : {
      "get" : {
        "summary" : "Trouser Buttons",
        "description" : "List Trouser Buttons",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of trouser Buttons",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserButton"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_buttons/{id}" : {
      "get" : {
        "summary" : "Trouser Button",
        "description" : "Trouser Button",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserButton"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Button id supplied"
          },
          "404" : {
            "description" : "Trouser Button not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_secondary-options" : {
      "get" : {
        "summary" : "Trouser Secondary Options",
        "description" : "List Trouser Secondary Options",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserSecondaryOption"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_secondary-options/{id}" : {
      "get" : {
        "summary" : "Secondary Option",
        "description" : "Secondary Option",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserSecondaryOption"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Secondary Option id supplied"
          },
          "404" : {
            "description" : "Trouser Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_related-secondary-options" : {
      "get" : {
        "summary" : "Trouser Related Secondary Options",
        "description" : "List pairs of Trouser Secondary Options that can not be assigned to an order on the same time",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_related-secondary-options/{name}" : {
      "get" : {
        "summary" : "Trouser Related Secondary Options",
        "description" : "Pairs of Trouser Secondary Option that are the same type and can't be defined on the same order",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Secondary Option id supplied"
          },
          "404" : {
            "description" : "Trouser Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_sizes" : {
      "get" : {
        "summary" : "Trouser Sizes",
        "description" : "List Trouser Sizes",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "model_name",
          "description" : "Trouser sizes available for model_name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Sizes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserSize"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_default-measurements" : {
      "get" : {
        "summary" : "Trouser Default Measurements",
        "description" : "List Trouser Default Measurements",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "model_name",
          "description" : "Trouser Model Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "size",
          "description" : "Trouser Size",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Default Measurements",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserDefaultMeasurement"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_default-measurements/{id}" : {
      "get" : {
        "summary" : "Size",
        "description" : "Size",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserDefaultMeasurement"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Default Measurement id supplied"
          },
          "404" : {
            "description" : "Trouser Default Measurement not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_primary-alterations" : {
      "get" : {
        "summary" : "Trouser Primary Alterations",
        "description" : "List Trouser Primary Alterations",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Primary Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserPrimaryAlteration"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_primary-alterations/{id}" : {
      "get" : {
        "summary" : "Primary Alteration",
        "description" : "Primary Alteration",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserPrimaryAlteration"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Primary Alteration id supplied"
          },
          "404" : {
            "description" : "Trouser Primary Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_secondary-alterations" : {
      "get" : {
        "summary" : "Trouser Secondary Alterations",
        "description" : "List Trouser Secondary Alterations",
        "tags" : [ "Trouser" ],
        "responses" : {
          "200" : {
            "description" : "An array of Trouser Secondary Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrouserSecondaryAlteration"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trouser_secondary-alterations/{id}" : {
      "get" : {
        "summary" : "Secondary Alteration",
        "description" : "Secondary Alteration",
        "tags" : [ "Trouser" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrouserSecondaryAlteration"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Trouser Secondary Alteration id supplied"
          },
          "404" : {
            "description" : "Trouser Secondary Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_models" : {
      "get" : {
        "summary" : "Waistcoat Models",
        "description" : "List Waistcoat Models",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Models",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatModel"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_models/{id}" : {
      "get" : {
        "summary" : "Waistcoat Model",
        "description" : "Waistcoat Model",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Model id supplied"
          },
          "404" : {
            "description" : "Waistcoat Model not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_pockets" : {
      "get" : {
        "summary" : "Waistcoat Pockets",
        "description" : "List Waistcoat Pockets",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Front Pockets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatPocket"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_pockets/{id}" : {
      "get" : {
        "summary" : "Waistcoat Pocket",
        "description" : "Waistcoat Pocket",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatPocket"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Pocket id supplied"
          },
          "404" : {
            "description" : "Waistcoat Pocket not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_buttons" : {
      "get" : {
        "summary" : "Waistcoat Buttons",
        "description" : "List Waistcoat Buttons",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Buttons",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatButton"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_buttons/{id}" : {
      "get" : {
        "summary" : "Waistcoat Button",
        "description" : "Waistcoat Button",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatButton"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Button id supplied"
          },
          "404" : {
            "description" : "Waistcoat Button not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_secondary-options" : {
      "get" : {
        "summary" : "Waistcoat Secondary Options",
        "description" : "List Waistcoat Secondary Options",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatSecondaryOption"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_secondary-options/{id}" : {
      "get" : {
        "summary" : "Waistcoat Secondary Option",
        "description" : "Waistcoat Secondary Option",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatSecondaryOption"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Secondary Option id supplied"
          },
          "404" : {
            "description" : "Waistcoat Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_related-secondary-options" : {
      "get" : {
        "summary" : "Waistcoat Related Secondary Options",
        "description" : "List pairs of Waistcoat Secondary Options that can not be assigned to an order on the same time",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Secondary Options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_related-secondary-options/{name}" : {
      "get" : {
        "summary" : "Waistcoat Related Secondary Options",
        "description" : "Pairs of Waistcoat Secondary Option that are the same type and can't be defined on the same order",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Secondary Option id supplied"
          },
          "404" : {
            "description" : "Waistcoat Secondary Option not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_sizes" : {
      "get" : {
        "summary" : "Waistcoat Sizes",
        "description" : "List Waistcoat Sizes",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "model_name",
          "description" : "Waistcoat sizes available for model_name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Sizes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatSize"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_default-measurements" : {
      "get" : {
        "summary" : "Waistcoat Default Measurements",
        "description" : "List Waistcoat Default Measurements",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "model_name",
          "description" : "Waistcoat Model Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "size",
          "description" : "Waistcoat Size",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Default Measurements",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatDefaultMeasurement"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_primary-alterations" : {
      "get" : {
        "summary" : "Waistcoat Primary Alterations",
        "description" : "List Waistcoat Primary Alterations",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Primary Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatPrimaryAlteration"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_primary-alterations/{id}" : {
      "get" : {
        "summary" : "Primary Alteration",
        "description" : "Primary Alteration",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatPrimaryAlteration"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Primary Alteration id supplied"
          },
          "404" : {
            "description" : "Waistcoat Primary Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_secondary-alterations" : {
      "get" : {
        "summary" : "Waistcoat Secondary Alterations",
        "description" : "List Waistcoat Secondary Alterations",
        "tags" : [ "Waistcoat" ],
        "responses" : {
          "200" : {
            "description" : "An array of Waistcoat Secondary Alterations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WaistcoatSecondaryAlteration"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waistcoat_secondary-alterations/{id}" : {
      "get" : {
        "summary" : "Secondary Alteration",
        "description" : "Secondary Alteration",
        "tags" : [ "Waistcoat" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaistcoatSecondaryAlteration"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Waistcoat Secondary Alteration id supplied"
          },
          "404" : {
            "description" : "Waistcoat Secondary Alteration not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shirt_bases" : {
      "get" : {
        "summary" : "Shirt Bases",
        "description" : "List Shirt Bases",
        "tags" : [ "Shirt" ],
        "responses" : {
          "200" : {
            "description" : "An array of Shirt bases",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ShirtBase"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shirt_bases/{name}" : {
      "get" : {
        "summary" : "Shirt Base",
        "description" : "List Shirt Base Types",
        "tags" : [ "Shirt" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShirtBase"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Base name supplied"
          },
          "404" : {
            "description" : "Base name not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}" : {
      "get" : {
        "summary" : "Order",
        "description" : "Get Order with ID",
        "tags" : [ "Order" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Base name supplied"
          },
          "404" : {
            "description" : "Base name not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders_tracking/{vte_order}" : {
      "get" : {
        "summary" : "Order tracking",
        "description" : "Order tracking",
        "tags" : [ "Order" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "vte_order",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedOrders"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid/incomplete Order reference supplied"
          },
          "404" : {
            "description" : "Order reference not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders_dateexport" : {
      "post" : {
        "tags" : [ "Order" ],
        "summary" : "Estimate export date for a new order",
        "description" : "",
        "operationId" : "estimateOrder",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          },
          "description" : "Order object that needs to be estimated"
        },
        "responses" : {
          "405" : {
            "description" : "Invalid input"
          }
        }
      }
    },
    "/shipment_addresses" : {
      "get" : {
        "summary" : "Shipment Addresses",
        "description" : "List Shipment Addresses",
        "tags" : [ "Shipment Address" ],
        "responses" : {
          "200" : {
            "description" : "An array of Shipment Addresses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ShipmentAddress"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Shipment Address" ],
        "summary" : "Add a new Shipment Address",
        "description" : "",
        "operationId" : "addShipmentAddress",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShipmentAddress"
              }
            }
          },
          "description" : "Shipment Address object that needs to be added"
        },
        "responses" : {
          "405" : {
            "description" : "Invalid input"
          }
        }
      },
      "put" : {
        "tags" : [ "Shipment Address" ],
        "summary" : "Update a Shipment Address",
        "description" : "",
        "operationId" : "editShipmentAddress",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShipmentAddress"
              }
            }
          },
          "description" : "Shipment Address object that needs to be updated"
        },
        "responses" : {
          "405" : {
            "description" : "Invalid input"
          }
        }
      }
    },
    "/shipment_addresses/{code}" : {
      "get" : {
        "summary" : "Shipment Addresses",
        "description" : "Shipment Address",
        "tags" : [ "Shipment Address" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShipmentAddress"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Shipment Address code supplied"
          },
          "404" : {
            "description" : "Shipment Address code not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/countries" : {
      "get" : {
        "summary" : "Countries",
        "description" : "List Countries Codes",
        "tags" : [ "Country" ],
        "responses" : {
          "200" : {
            "description" : "An array of Country Codes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{code}" : {
      "get" : {
        "summary" : "Country",
        "description" : "Country",
        "tags" : [ "Country" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Country"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Country code supplied"
          },
          "404" : {
            "description" : "Country code not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "pageSize" : {
        "name" : "pageSize",
        "in" : "query",
        "description" : "Number of persons returned",
        "required" : false,
        "schema" : {
          "type" : "integer",
          "default" : 25
        }
      },
      "pageNumber" : {
        "name" : "pageNumber",
        "in" : "query",
        "description" : "Page number",
        "required" : false,
        "schema" : {
          "type" : "integer",
          "default" : 1
        }
      }
    },
    "securitySchemes" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "api_key",
        "in" : "header"
      }
    },
    "schemas" : {
      "Fabric" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Unique identifier representing a fabric.",
            "default" : ""
          },
          "coupon" : {
            "type" : "boolean",
            "description" : "Fabric is ordered by coupon",
            "default" : false
          },
          "coupon_client" : {
            "type" : "boolean",
            "description" : "Coupon is ordered by client, required if coupon = true",
            "default" : false
          },
          "coupon_vendor" : {
            "type" : "string",
            "description" : "Vendor for fabric, required if coupon = true",
            "default" : ""
          },
          "type" : {
            "type" : "string",
            "description" : "Fabric type : Plain|Stripes|Check, required if coupon = true",
            "default" : "UNI"
          },
          "coupon_deliverydate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Delivery date for fabric if coupon provided by client"
          },
          "coupon_idcatalog" : {
            "type" : "string",
            "description" : "Fabric id catalog",
            "default" : ""
          }
        }
      },
      "FabricStock" : {
        "type" : "object",
        "properties" : {
          "name" : {
[...]
