openapi: 3.0.0
info:
  title: Formens B2B2 API
  description: Formens B2B2 API
  version: "103"
servers:
- url: https://node.formens.ro/b2b2
security:
- api_key: []
paths:
  /orderTailoring:
    post:
      tags:
      - Order
      summary: Add a new order
      description: Add a new order
      operationId: addOrder
      requestBody:
        description: Order object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        "201":
          description: item created
        "400":
          description: "invalid input, object invalid"
  /fabrics_stock/{name}:
    get:
      tags:
      - Fabrics
      summary: Fabric detail
      description: Fabric detail
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricStock'
        "400":
          description: Invalid/incomplete Fabric reference supplied
        "404":
          description: Fabric reference not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_bases:
    get:
      tags:
      - Jacket
      summary: Jacket Bases
      description: List Jacket Bases
      responses:
        "200":
          description: An array of jacket bases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketBase'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_bases/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Base
      description: List Jacket Base Types
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketBase'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_models:
    get:
      tags:
      - Jacket
      summary: Jacket Models
      description: List Jacket Models
      parameters:
      - name: base
        in: query
        description: Filter jacket models by base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketModel'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_models/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Model
      description: Jacket Model
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketModel'
        "400":
          description: Invalid Jacket model name supplied
        "404":
          description: Jacket model name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_constructions:
    get:
      tags:
      - Jacket
      summary: Jacket Constructions
      description: List Jacket Constructions
      parameters:
      - name: base
        in: query
        description: Jacket constructions available for base
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket constructions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketConstruction'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_constructions/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Construction
      description: Jacket Construction
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketConstruction'
        "400":
          description: Invalid Jacket Construction name supplied
        "404":
          description: Jacket Construction not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sleeveheads:
    get:
      tags:
      - Jacket
      summary: Jacket Sleeve Heads
      description: List Jacket Sleeve Heads
      parameters:
      - name: base_name
        in: query
        description: Jacket Sleeve Heads available for base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Sleeve Heads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSleeveHead'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sleeveheads/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Sleeve Head
      description: Jacket Sleeve Head
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSleeveHead'
        "400":
          description: Invalid Jacket Sleeve Head name supplied
        "404":
          description: Jacket Sleeve Head not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_interiors:
    get:
      tags:
      - Jacket
      summary: Jacket Interiors
      description: List Jacket Interiors
      parameters:
      - name: base_name
        in: query
        description: Jacket Interiors available for base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sleevehead_id
        in: query
        description: Jacket Interiors available with sleevehead
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Interiors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketInterior'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_interiors/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Interior
      description: Jacket Interior
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketInterior'
        "400":
          description: Invalid Jacket Interior name supplied
        "404":
          description: Jacket Interiors not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_linings:
    get:
      tags:
      - Jacket
      summary: Jacket Linings
      description: List Jacket Linings
      parameters:
      - name: interior_id
        in: query
        description: Jacket Linings available for suplied interior
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Linings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketLining'
        "400":
          description: Invalid Jacket Interior id supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_linings/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Lining
      description: Jacket Lining
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketLining'
        "400":
          description: Invalid Jacket Lining id supplied
        "404":
          description: Jacket Lining not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_pockets:
    get:
      tags:
      - Jacket
      summary: Jacket Pockets
      description: List Jacket Pockets
      responses:
        "200":
          description: An array of jacket Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_pockets/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Pocket
      description: Jacket Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketPocket'
        "400":
          description: Invalid Jacket Pocket id supplied
        "404":
          description: Jacket Pocket not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_vents:
    get:
      tags:
      - Jacket
      summary: Jacket Vents
      description: List Jacket Vents
      responses:
        "200":
          description: An array of jacket Vents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketVent'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_vents/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Vent
      description: Jacket Vent
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketVent'
        "400":
          description: Invalid Jacket Vent id supplied
        "404":
          description: Jacket Vent not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_lapel-buttonholes:
    get:
      tags:
      - Jacket
      summary: Jacket Lapelbuttonholes
      description: List Jacket Lapelbuttonholes
      responses:
        "200":
          description: An array of jacket Lapelbuttonholes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketLapelbuttonhole'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_lapel-buttonholes/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Lapelbuttonhole
      description: Jacket Lapelbuttonhole
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketLapelbuttonhole'
        "400":
          description: Invalid Jacket Lapelbuttonhole id supplied
        "404":
          description: Jacket Lapelbuttonhole not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_buttons:
    get:
      tags:
      - Jacket
      summary: Jacket Buttons
      description: List Jacket Buttons
      responses:
        "200":
          description: An array of jacket Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_buttons/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Button
      description: Jacket Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketButton'
        "400":
          description: Invalid Jacket Button id supplied
        "404":
          description: Jacket Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_collar-felts:
    get:
      tags:
      - Jacket
      summary: Jacket Collar Felts
      description: List Jacket Collar Felts
      responses:
        "200":
          description: An array of jacket Collar Felts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketCollarFelt'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_collar-felts/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Collar Felt
      description: Jacket Collar Felt
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketCollarFelt'
        "400":
          description: Invalid Jacket Collar Felt id supplied
        "404":
          description: Jacket Collar Felt not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_elbow-patches:
    get:
      tags:
      - Jacket
      summary: Jacket Elbow Patches
      description: List Jacket Elbow Patches
      responses:
        "200":
          description: An array of jacket Elbow Patches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketElbowPatch'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_elbow-patches/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Elbow Patch
      description: Jacket Elbow Patch
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketElbowPatch'
        "400":
          description: Invalid Jacket Elbow Patch id supplied
        "404":
          description: Jacket Elbow Patch not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_contrast-threads:
    get:
      tags:
      - Jacket
      summary: Jacket Contrast Threads
      description: List Jacket Contrast Threads
      responses:
        "200":
          description: An array of jacket Contrast Threads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketContrastThread'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_contrast-threads/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Contrast Thread
      description: Jacket Contrast Thread
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketContrastThread'
        "400":
          description: Invalid Jacket Contrast Thread id supplied
        "404":
          description: Jacket Contrast Thread not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-options:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Options
      description: List Jacket Secondary Options
      responses:
        "200":
          description: An array of jacket Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-options/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Option
      description: Jacket Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSecondaryOption'
        "400":
          description: Invalid Jacket Secondary Option id supplied
        "404":
          description: Jacket Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-secondary-options:
    get:
      tags:
      - Jacket
      summary: Jacket Related Secondary Options
      description: List pairs of Jacket Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of jacket Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-secondary-options/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Related Secondary Options
      description: Pairs of Jacket Secondary Option that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Jacket Secondary Option id supplied
        "404":
          description: Jacket Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sizes:
    get:
      tags:
      - Jacket
      summary: Jacket Sizes
      description: List Jacket Sizes
      parameters:
      - name: base_name
        in: query
        description: Jacket sizes available for base_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_default-measurements:
    get:
      tags:
      - Jacket
      summary: Jacket Default Measurements for model and size
      description: List Jacket Default Measurements for model and size
      parameters:
      - name: model_name
        in: query
        description: Jacket Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Jacket Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-alterations:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Alterations
      description: List Jacket Secondary Alterations
      responses:
        "200":
          description: An array of jacket Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-alterations/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Alteration
      description: Jacket Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSecondaryAlteration'
        "400":
          description: Invalid Jacket Secondary Alteration id supplied
        "404":
          description: Jacket Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-alterations:
    get:
      tags:
      - Jacket
      summary: Jacket Related Alterations
      description: List pairs of Jacket Alterations that can not be assigned to an
        order on the same time
      responses:
        "200":
          description: An array of jacket Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-alterations/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Related Alterations
      description: Pairs of Jacket Alterations that are the same type and can't be
        defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Jacket Alteration id supplied
        "404":
          description: Jacket Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_models:
    get:
      tags:
      - Trouser
      summary: Trouser Models
      description: List Trouser Models
      responses:
        "200":
          description: An array of Trouser Models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserModel'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_models/{id}:
    get:
      tags:
      - Trouser
      summary: Trouser Model
      description: Trouser Model
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserModel'
        "400":
          description: Invalid Trouser Model id supplied
        "404":
          description: Trouser Model not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-pockets:
    get:
      tags:
      - Trouser
      summary: Trouser Front Pockets
      description: List Trouser Front Pockets
      responses:
        "200":
          description: An array of Trouser Front Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserFrontPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-pockets/{id}:
    get:
      tags:
      - Trouser
      summary: Front Pocket
      description: Front Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserFrontPocket'
        "400":
          description: Invalid Trouser Front Pocket id supplied
        "404":
          description: Trouser Front Pockets not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_back-pockets:
    get:
      tags:
      - Trouser
      summary: Trouser Back Pockets
      description: List Trouser Back Pockets
      responses:
        "200":
          description: An array of Trouser Back Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserBackPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_back-pockets/{id}:
    get:
      tags:
      - Trouser
      summary: Back Pocket
      description: Back Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserBackPocket'
        "400":
          description: Invalid Trouser Back Pocket id supplied
        "404":
          description: Trouser Back Pockets not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-creases:
    get:
      tags:
      - Trouser
      summary: Trouser Front Creases
      description: List Trouser Front Creases
      responses:
        "200":
          description: An array of Trouser Front Creases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserFrontCrease'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-creases/{id}:
    get:
      tags:
      - Trouser
      summary: Front Crease
      description: Front Crease
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserFrontCrease'
        "400":
          description: Invalid Trouser Front Crease id supplied
        "404":
          description: Trouser Front Crease not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_linings:
    get:
      tags:
      - Trouser
      summary: Trouser Linings
      description: List Trouser Linings
      responses:
        "200":
          description: An array of Trouser Linings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserLining'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_linings/{id}:
    get:
      tags:
      - Trouser
      summary: Lining
      description: Lining
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserLining'
        "400":
          description: Invalid Trouser Lining id supplied
        "404":
          description: Trouser Lining not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_bottom-finishes:
    get:
      tags:
      - Trouser
      summary: Trouser Bottom Finishes
      description: List Trouser Bottom Finishes
      responses:
        "200":
          description: An array of Trouser Bottom Finishes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserBottomFinish'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_bottom-finishes/{id}:
    get:
      tags:
      - Trouser
      summary: Bottom Finish
      description: Bottom Finish
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserBottomFinish'
        "400":
          description: Invalid Trouser Bottom Finish id supplied
        "404":
          description: Trouser Bottom Finish not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_buttons:
    get:
      tags:
      - Trouser
      summary: Trouser Buttons
      description: List Trouser Buttons
      responses:
        "200":
          description: An array of trouser Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_buttons/{id}:
    get:
      tags:
      - Trouser
      summary: Trouser Button
      description: Trouser Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserButton'
        "400":
          description: Invalid Trouser Button id supplied
        "404":
          description: Trouser Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-options:
    get:
      tags:
      - Trouser
      summary: Trouser Secondary Options
      description: List Trouser Secondary Options
      responses:
        "200":
          description: An array of Trouser Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-options/{id}:
    get:
      tags:
      - Trouser
      summary: Secondary Option
      description: Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserSecondaryOption'
        "400":
          description: Invalid Trouser Secondary Option id supplied
        "404":
          description: Trouser Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_related-secondary-options:
    get:
      tags:
      - Trouser
      summary: Trouser Related Secondary Options
      description: List pairs of Trouser Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of Trouser Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_related-secondary-options/{name}:
    get:
      tags:
      - Trouser
      summary: Trouser Related Secondary Options
      description: Pairs of Trouser Secondary Option that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Trouser Secondary Option id supplied
        "404":
          description: Trouser Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_sizes:
    get:
      tags:
      - Trouser
      summary: Trouser Sizes
      description: List Trouser Sizes
      parameters:
      - name: model_name
        in: query
        description: Trouser sizes available for model_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Trouser Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_default-measurements:
    get:
      tags:
      - Trouser
      summary: Trouser Default Measurements
      description: List Trouser Default Measurements
      parameters:
      - name: model_name
        in: query
        description: Trouser Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Trouser Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Trouser Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_default-measurements/{id}:
    get:
      tags:
      - Trouser
      summary: Size
      description: Size
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserDefaultMeasurement'
        "400":
          description: Invalid Trouser Default Measurement id supplied
        "404":
          description: Trouser Default Measurement not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_primary-alterations:
    get:
      tags:
      - Trouser
      summary: Trouser Primary Alterations
      description: List Trouser Primary Alterations
      responses:
        "200":
          description: An array of Trouser Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_primary-alterations/{id}:
    get:
      tags:
      - Trouser
      summary: Primary Alteration
      description: Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserPrimaryAlteration'
        "400":
          description: Invalid Trouser Primary Alteration id supplied
        "404":
          description: Trouser Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-alterations:
    get:
      tags:
      - Trouser
      summary: Trouser Secondary Alterations
      description: List Trouser Secondary Alterations
      responses:
        "200":
          description: An array of Trouser Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-alterations/{id}:
    get:
      tags:
      - Trouser
      summary: Secondary Alteration
      description: Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserSecondaryAlteration'
        "400":
          description: Invalid Trouser Secondary Alteration id supplied
        "404":
          description: Trouser Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_models:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Models
      description: List Waistcoat Models
      responses:
        "200":
          description: An array of Waistcoat Models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatModel'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_models/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Model
      description: Waistcoat Model
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatModel'
        "400":
          description: Invalid Waistcoat Model id supplied
        "404":
          description: Waistcoat Model not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_pockets:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Pockets
      description: List Waistcoat Pockets
      responses:
        "200":
          description: An array of Waistcoat Front Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_pockets/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Pocket
      description: Waistcoat Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatPocket'
        "400":
          description: Invalid Waistcoat Pocket id supplied
        "404":
          description: Waistcoat Pocket not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_buttons:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Buttons
      description: List Waistcoat Buttons
      responses:
        "200":
          description: An array of Waistcoat Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_buttons/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Button
      description: Waistcoat Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatButton'
        "400":
          description: Invalid Waistcoat Button id supplied
        "404":
          description: Waistcoat Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-options:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Options
      description: List Waistcoat Secondary Options
      responses:
        "200":
          description: An array of Waistcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-options/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Option
      description: Waistcoat Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatSecondaryOption'
        "400":
          description: Invalid Waistcoat Secondary Option id supplied
        "404":
          description: Waistcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_related-secondary-options:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Related Secondary Options
      description: List pairs of Waistcoat Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of Waistcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_related-secondary-options/{name}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Related Secondary Options
      description: Pairs of Waistcoat Secondary Option that are the same type and
        can't be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          description: Invalid Waistcoat Secondary Option id supplied
        "404":
          description: Waistcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_sizes:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Sizes
      description: List Waistcoat Sizes
      parameters:
      - name: model_name
        in: query
        description: Waistcoat sizes available for model_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Waistcoat Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_default-measurements:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Default Measurements
      description: List Waistcoat Default Measurements
      parameters:
      - name: model_name
        in: query
        description: Waistcoat Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Waistcoat Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Waistcoat Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_primary-alterations:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Primary Alterations
      description: List Waistcoat Primary Alterations
      responses:
        "200":
          description: An array of Waistcoat Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_primary-alterations/{id}:
    get:
      tags:
      - Waistcoat
      summary: Primary Alteration
      description: Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatPrimaryAlteration'
        "400":
          description: Invalid Waistcoat Primary Alteration id supplied
        "404":
          description: Waistcoat Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-alterations:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Alterations
      description: List Waistcoat Secondary Alterations
      responses:
        "200":
          description: An array of Waistcoat Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-alterations/{id}:
    get:
      tags:
      - Waistcoat
      summary: Secondary Alteration
      description: Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatSecondaryAlteration'
        "400":
          description: Invalid Waistcoat Secondary Alteration id supplied
        "404":
          description: Waistcoat Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shirt_bases:
    get:
      tags:
      - Shirt
      summary: Shirt Bases
      description: List Shirt Bases
      responses:
        "200":
          description: An array of Shirt bases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShirtBase'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shirt_bases/{name}:
    get:
      tags:
      - Shirt
      summary: Shirt Base
      description: List Shirt Base Types
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtBase'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders/{id}:
    get:
      tags:
      - Order
      summary: Order
      description: Get Order with ID
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders_tracking/{vte_order}:
    get:
      tags:
      - Order
      summary: Order tracking
      description: Order tracking
      parameters:
      - name: vte_order
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrders'
        "400":
          description: Invalid/incomplete Order reference supplied
        "404":
          description: Order reference not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders_dateexport:
    post:
      tags:
      - Order
      summary: Estimate export date for a new order
      description: ""
      operationId: estimateOrder
      requestBody:
        description: Order object that needs to be estimated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        "405":
          description: Invalid input
  /shipment_addresses:
    get:
      tags:
      - Shipment Address
      summary: Shipment Addresses
      description: List Shipment Addresses
      responses:
        "200":
          description: An array of Shipment Addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentAddress'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Shipment Address
      summary: Update a Shipment Address
      description: ""
      operationId: editShipmentAddress
      requestBody:
        description: Shipment Address object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAddress'
      responses:
        "405":
          description: Invalid input
    post:
      tags:
      - Shipment Address
      summary: Add a new Shipment Address
      description: ""
      operationId: addShipmentAddress
      requestBody:
        description: Shipment Address object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAddress'
      responses:
        "405":
          description: Invalid input
  /shipment_addresses/{code}:
    get:
      tags:
      - Shipment Address
      summary: Shipment Addresses
      description: Shipment Address
      parameters:
      - name: code
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentAddress'
        "400":
          description: Invalid Shipment Address code supplied
        "404":
          description: Shipment Address code not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /countries:
    get:
      tags:
      - Country
      summary: Countries
      description: List Countries Codes
      responses:
        "200":
          description: An array of Country Codes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /countries/{code}:
    get:
      tags:
      - Country
      summary: Country
      description: Country
      parameters:
      - name: code
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        "400":
          description: Invalid Country code supplied
        "404":
          description: Country code not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Fabric:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a fabric.
        coupon:
          type: boolean
          description: Fabric is ordered by coupon
          default: false
        coupon_client:
          type: boolean
          description: "Coupon is ordered by client, required if coupon = true"
          default: false
        coupon_vendor:
          type: string
          description: "Vendor for fabric, required if coupon = true"
          default: ""
        type:
          type: string
          description: "Fabric type : Plain|Stripes|Check, required if coupon = true"
          default: UNI
        coupon_deliverydate:
          type: string
          description: Delivery date for fabric if coupon provided by client
          format: date
        coupon_idcatalog:
          type: string
          description: Fabric id catalog
    FabricStock:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a fabric.
        stock_qty:
          type: number
          description: Quantity in stock.
        status:
          type: string
          description: "Fabric status [available, out_of_stock, low_stock]"
    Jacket:
      required:
      - base
      - construction
      - interior
      - linings
      - model
      - pockets
      - quantity
      - shoulder_line
      - size
      - sleeve_head
      - vents
      type: object
      properties:
        fabric:
          $ref: '#/components/schemas/Fabric'
        quantity:
          type: integer
          description: fabric quantity (id=Vcant; lbl=QTY; param=veste_qte)
          format: int32
          default: 1
        shoulder_line:
          type: string
          description: Jacket Shoulder slope  (id=VShSlope; lbl=SHOULDER LINE; param=VShSlope)
          enum:
          - LIGHT
          - STANDARD
          - STRAIGHT
          default: STANDARD
        construction:
          type: string
          description: (id=Vconstructie; lbl=CONSTRUCTION; param=construction)
          default: PRESTIGE
        sleeve_head:
          type: string
          description: Jacket Sleeve Head name  (id=VcapManeca; lbl=SLEEVE HEAD; param=capmaneca)
          default: RO/E
        base:
          type: string
          description: Jacket Base name (id=v_model_essaye; lbl=BASE; param=VmodelIncercat)
          default: G
        front:
          type: string
          description: Jacket Front name (id=Vmodel; lbl=FRONT; param=Vmodel)
          default: "402"
        interior:
          type: string
          description: Jacket interior name  (id=Vinterior; lbl=INTERIOR; param=interieur)
          default: FL
        pockets:
          type: string
          description: "Jacket pockets (id=VbuzunareFata, label=POCKETS, param=poches)"
          default: A
        vents:
          type: string
          description: Jacket vents  (id=Vslit; lbl=VENTS; param=fentes)
          enum:
          - "2"
          - "1"
          - S
          default: "2"
        cuffs:
          type: string
          description: Jacket cuffs
          default: BO4
        amf:
          type: string
          description: Jacket amf
          enum:
          - A1
          - A11
          - A12
          - A5
          - A51
          - A52
          - S2
          - S5
          default: A1
        main_lining:
          type: string
          description: main lining (id=VdoublA; lbl=MAIN LINING - A; param=doublure_a)
        sleeve_lining:
          type: string
          description: sleeve_lining (id=VdoublA; lbl=SLEEVE LINING - B; param=doublure_b)
        buttons:
          type: string
          description: Jacket Buttons type name  (id=Vnasturi; lbl=BUTTONS; param=boutons)
        collar_felt:
          type: string
          description: Jacket Collar Felt type name  (id=Vguler; lbl=COLLAR FELT;
            param=feutre)
        monogram:
          $ref: '#/components/schemas/Monogram'
        lapel_buttonhole:
          type: string
          description: lapel buttonhole (id=VnasturiReversel; lbl= CONTRAST BUTTONHOLES
            / LAPEL BUTTONHOLE; param=boutonniere_revers)
          enum:
          - "70"
          - "80"
          - "90"
          default: "80"
        cma1:
          type: boolean
          description: Sleeves Contrast Buttonhole 1 (id=cma1; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma1)
          default: false
        cma2:
          type: boolean
          description: Sleeves Contrast Buttonhole 2 (id=cma2; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma2)
          default: false
        cma3:
          type: boolean
          description: Sleeves Contrast Buttonhole 3 (id=cma3; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma3)
          default: false
        cma4:
          type: boolean
          description: Sleeves Contrast Buttonhole 4 (id=cma4; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma4)
          default: false
        cma5:
          type: boolean
          description: Sleeves Contrast Buttonhole 5 (id=cma5; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma5)
          default: false
        cma6:
          type: boolean
          description: Sleeves Contrast Buttonhole 6 (id=cma6; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Sleeves; param=cma6)
          default: false
        cdv1:
          type: boolean
          description: Front Contrast Buttonhole 1 (id=cdv1; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv1)
          default: false
        cdv2:
          type: boolean
          description: Front Contrast Buttonhole 2 (id=cdv2; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv2)
          default: false
        cdv3:
          type: boolean
          description: Front Contrast Buttonhole 3 (id=cdv3; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv3)
          default: false
        cdv4:
          type: boolean
          description: Front Contrast Buttonhole 4 (id=cdv4; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv4)
          default: false
        cdv5:
          type: boolean
          description: Front Contrast Buttonhole 5 (id=cdv5; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv5)
          default: false
        cdv6:
          type: boolean
          description: Front Contrast Buttonhole 6 (id=cdv6; lbl=CONTRAST BUTTONHOLES
            / CONTRAST BUTTONHOLES / Front; param=cdv6)
          default: false
        secondary_options:
          type: array
          items:
            type: string
            description: List of secondary options (id=Voptions; lbl=; param=v_options)
        elbow_patch:
          type: string
          description: Jacket Collar Felt type name (id=Vcoud; lbl=ALCANTRA COLOR;
            param=coudieres)
        satin_color:
          type: string
          description: satin color (id=Vsatinsel; lbl=SATIN COLOR; param=Vsatin)
        detachable_inlay_color:
          type: string
          description: detachable inlay color (id=Vpippingsel; lbl=DETACHABLE INLAY
            COLOR; param=Vinlay)
        collar_contrast_color:
          type: string
          description: collar contrast color (id=Vcollarcontrsel; lbl=COLLAR CONTRAST
            COLOR; param=Vcollar)
        piping_color:
          type: string
          description: piping color (id=Vpippingsel; lbl=COLLAR CONTRAST COLOR; param=Vpipping)
        cuff_contrasted:
          type: string
          description: cuff constrasted (id=Vccxsel; lbl=CUFF CONTRASTED; param=VcuffColor)
        fake_handkerchief:
          type: string
          description: fake handkerchief (id=Vfpsel; lbl=FAKE HANDKERCHIEF; param=VfpColor)
        contrast_thread:
          type: string
          description: contrast thread (id=VfilContrasti; lbl=CONTRAST THREAD; param=VfilContrast)
        bow_tie_fabric:
          type: string
          description: Bow tie frabic reference  (id=PpcodTesatura; lbl=BOWTIE FABRIC
            REF; param=tissu_papion)
        bow_tie_quantity:
          type: integer
          description: Bow tie quantity(id=Ppcant; lbl=QTY; param=papion_qte)
          format: int32
          default: 0
        lavaliere_ref_name:
          type: string
          description: Lavaliere reference  (id=CcodTesatura; lbl=LAVARIERE REF; param=tissu_cravaliere)
        lavaliere_quantity:
          type: integer
          description: Lavaliere quantity  (id=Ccant; lbl=QTY; param=cravaliere_qte)
          format: int32
          default: 0
        handkerchief_fabric:
          type: string
          description: Handkerchief frabic reference  (id=BcodTesatura; lbl=HANDKERCHIEF
            FABRIC; param=tissu_pochette)
        handkerchief_quantity:
          type: integer
          description: Handkerchief quantity  (id=Bcant; lbl=QTY; param=pochette_qte)
          format: int32
          default: 0
        measurements:
          $ref: '#/components/schemas/JacketMeasurements'
    JacketBase:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket base.
    JacketModel:
      type: object
      properties:
        name:
          type: string
          description: Jacket model name.
        short_name:
          type: string
          description: Short Jacket model name.
    JacketConstruction:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket construction.
        translated_name:
          type: string
          description: Translated jacket construction name.
    JacketSleeveHead:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket sleeve head.
        translated_name:
          type: string
          description: Translated jacket sleeve head name.
    JacketInterior:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a jacket interior.
        name:
          type: string
          description: Translated jacket interior name.
    JacketLining:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a jacket lining.
        value:
          type: string
          description: value for lining.
    JacketPocket:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a jacket pocket.
        description:
          type: string
          description: Description of jacket pocket.
    JacketVent:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a jacket vent.
        description:
          type: string
          description: Description of jacket vent.
    JacketButton:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket button.
    JacketLapelbuttonhole:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a jacket lapel buttonhole.
        description:
          type: string
          description: Description of jacket lapel buttonhole.
    JacketCollarFelt:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket collar felt.
    JacketElbowPatch:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket elbow patch.
    JacketContrastThread:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a jacket contrast thread.
    JacketSecondaryOption:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    JacketSize:
      type: object
      properties:
        size:
          type: string
          description: Jacket size name.
    JacketMeasurements:
      type: object
      properties:
        size:
          type: string
          description: Jacket size (id=VmarimeIncercata; lbl=SIZE TRIED; param=taillev)
        total_length:
          type: number
          description: Jacket Total Length (id=VlungimeSpate; lbl=TOTAL LENGTH; param=longueur_dos)
        left_sleeve_length:
          type: number
          description: Jacket Left Sleeve Length (id=VlungimeManecaStanga; lbl=LEFT
            SLEEVE; param=manche_gauche)
        right_sleeve_length:
          type: number
          description: Jacket Right Sleeve Length (id=VlungimeManecaDreapta; lbl=RIGHT
            SLEEVE; param=manche_droite)
        posture:
          type: string
          description: Body posture (id=VcodeAtitude; lbl=BENT/ERECT POSTURE; param=code_attitude)
          enum:
          - "400"
          - "401"
          - "402"
          - "403"
          - "405"
          - "406"
          - "407"
        chest:
          type: string
          description: chest (id=VcodePoitrine; lbl=CHEST; param=VcodePoitrine)
          enum:
          - "800"
          - "802"
          - "803"
          - "804"
        left_shoulder_slope:
          type: string
          description: left shoulder slope (id=VcodUmarStang; lbl=LEFT SHOULDER /
            LOW si / HIGH; param=code_epaule_gauche)
          enum:
          - "500"
          - "505"
          - "506"
          - "507"
          - "501"
          - "502"
          - "503"
        right_shoulder_slope:
          type: string
          description: left shoulder slope (id=VcodUmarDrept; lbl=RIGHT SHOULDER /
            LOW si / HIGH; param=code_epaule_droite)
          enum:
          - "600"
          - "605"
          - "606"
          - "607"
          - "601"
          - "602"
          - "603"
        jacket_vents:
          type: number
          description: jacket vents length  (id=Vfente; lbl=VENTS; param=v_fente)
          format: double
        first_button:
          type: number
          description: first button possition (id=V1ErBouton; lbl=FIRST BUTTON POSITION;
            param=v_1er_bouton)
          format: double
        secondary_alterations:
          type: array
          items:
            type: string
            description: List of secondary Alterations (id=Voptions; lbl=; param=Valterations)
    JacketSecondaryAlteration:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        alterations:
          type: array
          description: List of variations
          items:
            type: object
    JacketDefaultMeasurement:
      type: object
      properties:
        TAILLE:
          $ref: '#/components/schemas/Measurement'
        LONG.MAN:
          $ref: '#/components/schemas/Measurement'
        H.MIL.DOS:
          $ref: '#/components/schemas/Measurement'
        TRAPEZ:
          $ref: '#/components/schemas/Measurement'
        CARRURE:
          $ref: '#/components/schemas/Measurement'
        FENTE:
          $ref: '#/components/schemas/Measurement'
        POITRINE:
          $ref: '#/components/schemas/Measurement'
        "1ER BOUT":
          $ref: '#/components/schemas/Measurement'
        LatRever:
          $ref: '#/components/schemas/Measurement'
    Trousers:
      required:
      - back_pockets
      - bottom_finish
      - front_crease
      - front_pockets
      - lining
      - model
      - quantity
      - size
      type: object
      properties:
        fabric:
          $ref: '#/components/schemas/Fabric'
        quantity:
          type: integer
          description: trousers quantity (id=Pcant; lbl=QTY; param=pantalon_qte)
          format: int32
          default: 1
        model:
          type: string
          description: Trouser Model name  (id=Pmodel; lbl=MODEL; param=modele_pantalon)
          default: P05
        front_pockets:
          type: string
          description: Trouser front pockets  (id=PbuzunareFata; lbl=FRONT POCKETS;
            param=poches_devant)
          default: B
        back_pockets:
          type: string
          description: Trouser back pockets  (id=PbuzunareSpate; lbl=BACK POCKETS;
            param=poches_dos)
          default: "2"
        front_crease:
          type: string
          description: Trouser front crease name
          default: P1
        lining:
          type: string
          description: Trouser lining  (id=Pdoubl; lbl=LINING; param=doublure)
          default: A
        bottom_finish:
          type: string
          description: Trouser bottom finish  (id=Pterminatie; lbl=BOTTOM; param=finition_bas)
          default: PF3
        buttons:
          type: string
          description: Trouser Buttons type name  (id=Pnasturi; lbl=BUTTONS; param=boutons_pant)
        monogram:
          $ref: '#/components/schemas/Monogram'
        size:
          type: string
          description: Trouser Size
          default: "42"
        measurements:
          $ref: '#/components/schemas/TrouserMeasurements'
        secondary_options:
          type: array
          items:
            type: string
            description: List of secondary options  (id=Poptions; lbl=SECONDARY OPTIONS;
              param=p_options)
          default:
          - AMF
          - P0D
        alterations:
          type: array
          items:
            type: string
            description: List of alterations  (id=Palterations; lbl=ALTERATIONS; param=p_alterations)
          default:
          - 381L
          - 306M
          - 391GL
    TrouserModel:
      type: object
      properties:
        name:
          type: string
          description: Trouser model name.
    TrouserFrontPocket:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a trouser front pocket.
        description:
          type: string
          description: Description of trouser pocket.
    TrouserBackPocket:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a trouser back pocket.
        description:
          type: string
          description: Description of trouser pocket.
    TrouserFrontCrease:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a trouser front crease.
        description:
          type: string
          description: Description of trouser front crease.
    TrouserLining:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a trouser lining.
        description:
          type: string
          description: Description of trouser lining.
    TrouserBottomFinish:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a trouser bottom finish.
        description:
          type: string
          description: Description of trouser finish.
    TrouserButton:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a trouser button.
    TrouserSecondaryOption:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    TrouserSize:
      type: object
      properties:
        size:
          type: string
          description: Trouser size name.
    TrouserMeasurements:
      type: object
      properties:
        half_waist:
          type: number
          description: Trouser 1/2 waist
          default: 38.5
        finished_inseam:
          type: number
          description: Trouser Finished Inseam
          default: 1
        half_bottom_width:
          type: number
          description: Trouser 1/2 Bottom Width
          default: 1
    TrouserPrimaryAlteration:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        alterations:
          type: array
          description: List of variations
          items:
            type: object
    TrouserSecondaryAlteration:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        alterations:
          type: array
          description: List of variations
          items:
            type: object
    TrouserDefaultMeasurement:
      type: object
      properties:
        TAILLE:
          $ref: '#/components/schemas/Measurement'
        BASSIN:
          $ref: '#/components/schemas/Measurement'
        CUISSE:
          $ref: '#/components/schemas/Measurement'
        BAS:
          $ref: '#/components/schemas/Measurement'
        ENTREJAMBE:
          $ref: '#/components/schemas/Measurement'
        GENOU:
          $ref: '#/components/schemas/Measurement'
        FDEVANT:
          $ref: '#/components/schemas/Measurement'
        FDOS:
          $ref: '#/components/schemas/Measurement'
    Waistcoat:
      required:
      - back_lining_name
      - buttons_name
      - inside_lining_name
      - model_name
      - pockets_name
      - quantity
      - size
      type: object
      properties:
        fabric:
          $ref: '#/components/schemas/Fabric'
        quantity:
          type: integer
          format: int32
          default: 1
        model_name:
          type: string
          description: Waistcoat Model name
          default: G10
        pockets_name:
          type: string
          description: Waistcoat pockets
          default: "70"
        back_lining_name:
          type: string
          description: Waistcoat back lining fabric
          default: "20"
        inside_lining_name:
          type: string
          description: Waistcoat inside lining fabric
          default: "21"
        buttons_name:
          type: string
          description: Trouser bottom finish
          default: "142"
        monogram:
          $ref: '#/components/schemas/Monogram'
        size:
          type: string
          description: Waistcoat Size
          default: "42"
        measurements:
          $ref: '#/components/schemas/WaistcoatMeasurements'
        secondary_options:
          type: array
          items:
            type: string
            description: List of secondary options
          default:
          - A11
          - PVS
        alterations:
          type: array
          items:
            type: string
            description: List of primary alterations
          default:
          - 910A
          - 941B
          - 930L
    WaistcoatModel:
      type: object
      properties:
        name:
          type: string
          description: Waistcoat model name.
    WaistcoatPocket:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a Waistcoat pocket.
        description:
          type: string
          description: Description of Waistcoat pocket.
    WaistcoatButton:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a Waistcoat button.
        description:
          type: string
          description: Description of Waistcoat button.
    WaistcoatSecondaryOption:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    WaistcoatSize:
      type: object
      properties:
        size:
          type: string
          description: Waistcoat size name.
    WaistcoatMeasurements:
      type: object
      properties:
        total_length:
          type: number
          description: Waistcoat total length
          default: 56
        opening:
          type: number
          description: Waistcoat Opening
          default: 34.9
        half_waist:
          type: number
          description: Waistcoat 1/2 waist
    WaistcoatPrimaryAlteration:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        alterations:
          type: array
          description: List of variations
          items:
            type: object
    WaistcoatSecondaryAlteration:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        alterations:
          type: array
          description: List of variations
          items:
            type: object
    WaistcoatDefaultMeasurement:
      type: object
      properties:
        TAILLE:
          $ref: '#/components/schemas/Measurement'
        POITRINE:
          $ref: '#/components/schemas/Measurement'
        HMILDOS:
          $ref: '#/components/schemas/Measurement'
        OUVERTURE:
          $ref: '#/components/schemas/Measurement'
        LDEVANT:
          $ref: '#/components/schemas/Measurement'
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          description: Order status
          enum:
          - standby
          - new
        mtm_type:
          type: string
          description: MTM | MTO
          default: MTM
        oldorderno:
          type: string
          description: use this id to modify an existing order (Ex=W762096)
        client_firstname:
          type: string
          description: Client First Name
          default: John
        client_lastname:
          type: string
          description: Client Last Name
          default: Doe
        client_email:
          type: string
          description: Client email
          default: ""
        client_phone:
          type: string
          description: Client Phone
          default: ""
        internal_order_no:
          type: string
          description: Customer Internal Order Id
          default: test00
        body_measurements:
          $ref: '#/components/schemas/BodyMeasurements'
        jacket:
          $ref: '#/components/schemas/Jacket'
        trousers:
          $ref: '#/components/schemas/Trousers'
        waistcoat:
          $ref: '#/components/schemas/Waistcoat'
        observations:
          type: string
          description: Observations about order
          default: this is a comment
        shipment_address:
          type: string
          description: "Shipment Address ( default empty, see GET /shipment_addresses\
            \ )"
          default: ""
    Orders:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
    PagedOrders:
      allOf:
      - $ref: '#/components/schemas/Orders'
      - $ref: '#/components/schemas/Paging'
    Monogram:
      type: object
      properties:
        text:
          type: string
          description: Monogram Text  (id=monograma; lbl=MONOGRAM; param=monograme)
        color:
          type: string
          description: Monogram Color  (id=McodContrast; lbl=COLOR; param=cul_monogr)
    BodyMeasurements:
      type: object
      properties:
        chest:
          type: number
          description: Chest measurement
        waist:
          type: number
          description: Waist measurement
        belt:
          type: number
          description: Belt measurement
        seat:
          type: number
          description: Seat measurement
    Measurement:
      type: object
      properties:
        measurement:
          type: number
        tolerance:
          type: number
    ShirtBase:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a shirt base.
        description:
          type: string
          description: Descrption of a shirt base.
    ShipmentAddress:
      required:
      - address
      - code
      - name
      type: object
      properties:
        code:
          maxLength: 8
          type: string
          description: Unique identifier representing a Shipment Address.
          default: Test
        name:
          maxLength: 50
          type: string
          description: Shipment Address name.
          default: Test
        contact_person:
          maxLength: 50
          type: string
          description: Contact person.
          default: ""
        customer_no:
          type: string
          description: NAV Customer No to which Shipment Address is allocated (readonly).
        address:
          maxLength: 50
          type: string
          description: Address.
        address2:
          maxLength: 50
          type: string
          description: Address2.
        post_code:
          maxLength: 20
          type: string
          description: Post Code.
          default: ""
        city:
          maxLength: 30
          type: string
          description: city.
          default: ""
        country_code:
          maxLength: 10
          type: string
          description: Country Code ( see GET /countries ).
          default: RO
        phone:
          maxLength: 30
          type: string
          description: Phone number.
          default: ""
        email:
          maxLength: 80
          type: string
          description: Email address.
          default: ""
    Country:
      type: object
      properties:
        code:
          maxLength: 10
          type: string
          description: Unique identifier representing a Country/Region.
        name:
          maxLength: 50
          type: string
          description: Country/Region name.
    Paging:
      properties:
        totalItems:
          type: integer
          default: 0
        totalPages:
          type: integer
        pageSize:
          type: integer
        currentPage:
          type: integer
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        fields:
          type: string
  parameters:
    pageSize:
      name: pageSize
      in: query
      description: Number of persons returned
      required: false
      style: form
      explode: true
      schema:
        type: integer
        default: 25
    pageNumber:
      name: pageNumber
      in: query
      description: Page number
      required: false
      style: form
      explode: true
      schema:
        type: integer
        default: 1
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
