openapi: 3.0.0
info:
  title: Formens B2B2 API
  description: Formens B2B2 API
  version: "103"
servers:
- url: https://node.formens.ro/b2b2
security:
- api_key: []
paths:
  /fabrics_stock/{name}:
    get:
      tags:
      - Fabrics
      summary: Fabric detail
      description: Fabric detail
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricStock'
        "400":
          description: Invalid/incomplete Fabric reference supplied
        "404":
          description: Fabric reference not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_bases:
    get:
      tags:
      - Jacket
      summary: Jacket Bases
      description: List Jacket Bases
      responses:
        "200":
          description: An array of jacket bases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketBase'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_bases/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Base
      description: List Jacket Base Types
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketBase'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_models:
    get:
      tags:
      - Jacket
      summary: Jacket Models
      description: List Jacket Models
      parameters:
      - name: base_name
        in: query
        description: Filter jacket models by base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketModel'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_models/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Model
      description: Jacket Model
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketModel'
        "400":
          description: Invalid Jacket model name supplied
        "404":
          description: Jacket model name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_constructions:
    get:
      tags:
      - Jacket
      summary: Jacket Constructions
      description: List Jacket Constructions
      parameters:
      - name: base_name
        in: query
        description: Jacket constructions available for base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket constructions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketConstruction'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_constructions/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Construction
      description: Jacket Construction
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketConstruction'
        "400":
          description: Invalid Jacket Construction name supplied
        "404":
          description: Jacket Construction not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sleeveheads:
    get:
      tags:
      - Jacket
      summary: Jacket Sleeve Heads
      description: List Jacket Sleeve Heads
      parameters:
      - name: base_name
        in: query
        description: Jacket Sleeve Heads available for base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Sleeve Heads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSleeveHead'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sleeveheads/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Sleeve Head
      description: Jacket Sleeve Head
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSleeveHead'
        "400":
          description: Invalid Jacket Sleeve Head name supplied
        "404":
          description: Jacket Sleeve Head not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_interiors:
    get:
      tags:
      - Jacket
      summary: Jacket Interiors
      description: List Jacket Interiors
      parameters:
      - name: base_name
        in: query
        description: Jacket Interiors available for base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sleevehead_id
        in: query
        description: Jacket Interiors available with sleevehead
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Interiors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketInterior'
        "400":
          description: Invalid Jacket base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_interiors/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Interior
      description: Jacket Interior
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketInterior'
        "400":
          description: Invalid Jacket Interior name supplied
        "404":
          description: Jacket Interiors not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_linings:
    get:
      tags:
      - Jacket
      summary: Jacket Linings
      description: List Jacket Linings
      parameters:
      - name: interior_id
        in: query
        description: Jacket Linings available for suplied interior
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Linings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketLining'
        "400":
          description: Invalid Jacket Interior id supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_linings/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Lining
      description: Jacket Lining
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketLining'
        "400":
          description: Invalid Jacket Lining id supplied
        "404":
          description: Jacket Lining not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_pockets:
    get:
      tags:
      - Jacket
      summary: Jacket Pockets
      description: List Jacket Pockets
      responses:
        "200":
          description: An array of jacket Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_pockets/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Pocket
      description: Jacket Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketPocket'
        "400":
          description: Invalid Jacket Pocket id supplied
        "404":
          description: Jacket Pocket not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_vents:
    get:
      tags:
      - Jacket
      summary: Jacket Vents
      description: List Jacket Vents
      responses:
        "200":
          description: An array of jacket Vents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketVent'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_vents/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Vent
      description: Jacket Vent
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketVent'
        "400":
          description: Invalid Jacket Vent id supplied
        "404":
          description: Jacket Vent not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_lapel-buttonholes:
    get:
      tags:
      - Jacket
      summary: Jacket Lapelbuttonholes
      description: List Jacket Lapelbuttonholes
      responses:
        "200":
          description: An array of jacket Lapelbuttonholes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketLapelbuttonhole'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_lapel-buttonholes/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Lapelbuttonhole
      description: Jacket Lapelbuttonhole
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketLapelbuttonhole'
        "400":
          description: Invalid Jacket Lapelbuttonhole id supplied
        "404":
          description: Jacket Lapelbuttonhole not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_buttons:
    get:
      tags:
      - Jacket
      summary: Jacket Buttons
      description: List Jacket Buttons
      responses:
        "200":
          description: An array of jacket Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_buttons/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Button
      description: Jacket Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketButton'
        "400":
          description: Invalid Jacket Button id supplied
        "404":
          description: Jacket Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_collar-felts:
    get:
      tags:
      - Jacket
      summary: Jacket Collar Felts
      description: List Jacket Collar Felts
      responses:
        "200":
          description: An array of jacket Collar Felts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketCollarFelt'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_collar-felts/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Collar Felt
      description: Jacket Collar Felt
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketCollarFelt'
        "400":
          description: Invalid Jacket Collar Felt id supplied
        "404":
          description: Jacket Collar Felt not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_elbow-patches:
    get:
      tags:
      - Jacket
      summary: Jacket Elbow Patches
      description: List Jacket Elbow Patches
      responses:
        "200":
          description: An array of jacket Elbow Patches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketElbowPatch'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_elbow-patches/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Elbow Patch
      description: Jacket Elbow Patch
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketElbowPatch'
        "400":
          description: Invalid Jacket Elbow Patch id supplied
        "404":
          description: Jacket Elbow Patch not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_contrast-threads:
    get:
      tags:
      - Jacket
      summary: Jacket Contrast Threads
      description: List Jacket Contrast Threads
      responses:
        "200":
          description: An array of jacket Contrast Threads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketContrastThread'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_contrast-threads/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Contrast Thread
      description: Jacket Contrast Thread
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketContrastThread'
        "400":
          description: Invalid Jacket Contrast Thread id supplied
        "404":
          description: Jacket Contrast Thread not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-options:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Options
      description: List Jacket Secondary Options
      responses:
        "200":
          description: An array of jacket Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-options/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Option
      description: Jacket Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSecondaryOption'
        "400":
          description: Invalid Jacket Secondary Option id supplied
        "404":
          description: Jacket Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-secondary-options:
    get:
      tags:
      - Jacket
      summary: Jacket Related Secondary Options
      description: List pairs of Jacket Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of jacket Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-secondary-options/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Related Secondary Options
      description: Pairs of Jacket Secondary Option that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Jacket Secondary Option id supplied
        "404":
          description: Jacket Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_sizes:
    get:
      tags:
      - Jacket
      summary: Jacket Sizes
      description: List Jacket Sizes
      parameters:
      - name: base_name
        in: query
        description: Jacket sizes available for base_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_default-measurements:
    get:
      tags:
      - Jacket
      summary: Jacket Default Measurements for model and size
      description: List Jacket Default Measurements for model and size
      parameters:
      - name: model_name
        in: query
        description: Jacket Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Jacket Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of jacket Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_primary-alterations:
    get:
      tags:
      - Jacket
      summary: Jacket Primary Alterations
      description: List Jacket Primary Alterations
      responses:
        "200":
          description: An array of jacket Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_primary-alterations/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Primary Alteration
      description: Jacket Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketPrimaryAlteration'
        "400":
          description: Invalid Jacket Primary Alteration id supplied
        "404":
          description: Jacket Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-alterations:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Alterations
      description: List Jacket Secondary Alterations
      responses:
        "200":
          description: An array of jacket Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JacketSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_secondary-alterations/{id}:
    get:
      tags:
      - Jacket
      summary: Jacket Secondary Alteration
      description: Jacket Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JacketSecondaryAlteration'
        "400":
          description: Invalid Jacket Secondary Alteration id supplied
        "404":
          description: Jacket Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-alterations:
    get:
      tags:
      - Jacket
      summary: Jacket Related Alterations
      description: List pairs of Jacket Alterations that can not be assigned to an
        order on the same time
      responses:
        "200":
          description: An array of jacket Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jacket_related-alterations/{name}:
    get:
      tags:
      - Jacket
      summary: Jacket Related Alterations
      description: Pairs of Jacket Alterations that are the same type and can't be
        defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Jacket Alteration id supplied
        "404":
          description: Jacket Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_models:
    get:
      tags:
      - Trouser
      summary: Trouser Models
      description: List Trouser Models
      responses:
        "200":
          description: An array of Trouser Models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserModel'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_models/{id}:
    get:
      tags:
      - Trouser
      summary: Trouser Model
      description: Trouser Model
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserModel'
        "400":
          description: Invalid Trouser Model id supplied
        "404":
          description: Trouser Model not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-pockets:
    get:
      tags:
      - Trouser
      summary: Trouser Front Pockets
      description: List Trouser Front Pockets
      responses:
        "200":
          description: An array of Trouser Front Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserFrontPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-pockets/{id}:
    get:
      tags:
      - Trouser
      summary: Front Pocket
      description: Front Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserFrontPocket'
        "400":
          description: Invalid Trouser Front Pocket id supplied
        "404":
          description: Trouser Front Pockets not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_back-pockets:
    get:
      tags:
      - Trouser
      summary: Trouser Back Pockets
      description: List Trouser Back Pockets
      responses:
        "200":
          description: An array of Trouser Back Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserBackPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_back-pockets/{id}:
    get:
      tags:
      - Trouser
      summary: Back Pocket
      description: Back Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserBackPocket'
        "400":
          description: Invalid Trouser Back Pocket id supplied
        "404":
          description: Trouser Back Pockets not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-creases:
    get:
      tags:
      - Trouser
      summary: Trouser Front Creases
      description: List Trouser Front Creases
      responses:
        "200":
          description: An array of Trouser Front Creases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserFrontCrease'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_front-creases/{id}:
    get:
      tags:
      - Trouser
      summary: Front Crease
      description: Front Crease
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserFrontCrease'
        "400":
          description: Invalid Trouser Front Crease id supplied
        "404":
          description: Trouser Front Crease not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_linings:
    get:
      tags:
      - Trouser
      summary: Trouser Linings
      description: List Trouser Linings
      responses:
        "200":
          description: An array of Trouser Linings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserLining'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_linings/{id}:
    get:
      tags:
      - Trouser
      summary: Lining
      description: Lining
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserLining'
        "400":
          description: Invalid Trouser Lining id supplied
        "404":
          description: Trouser Lining not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_bottom-finishes:
    get:
      tags:
      - Trouser
      summary: Trouser Bottom Finishes
      description: List Trouser Bottom Finishes
      responses:
        "200":
          description: An array of Trouser Bottom Finishes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserBottomFinish'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_bottom-finishes/{id}:
    get:
      tags:
      - Trouser
      summary: Bottom Finish
      description: Bottom Finish
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserBottomFinish'
        "400":
          description: Invalid Trouser Bottom Finish id supplied
        "404":
          description: Trouser Bottom Finish not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_buttons:
    get:
      tags:
      - Trouser
      summary: Trouser Buttons
      description: List Trouser Buttons
      responses:
        "200":
          description: An array of trouser Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_buttons/{id}:
    get:
      tags:
      - Trouser
      summary: Trouser Button
      description: Trouser Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserButton'
        "400":
          description: Invalid Trouser Button id supplied
        "404":
          description: Trouser Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-options:
    get:
      tags:
      - Trouser
      summary: Trouser Secondary Options
      description: List Trouser Secondary Options
      responses:
        "200":
          description: An array of Trouser Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-options/{id}:
    get:
      tags:
      - Trouser
      summary: Secondary Option
      description: Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserSecondaryOption'
        "400":
          description: Invalid Trouser Secondary Option id supplied
        "404":
          description: Trouser Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_related-secondary-options:
    get:
      tags:
      - Trouser
      summary: Trouser Related Secondary Options
      description: List pairs of Trouser Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of Trouser Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_related-secondary-options/{name}:
    get:
      tags:
      - Trouser
      summary: Trouser Related Secondary Options
      description: Pairs of Trouser Secondary Option that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Trouser Secondary Option id supplied
        "404":
          description: Trouser Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_sizes:
    get:
      tags:
      - Trouser
      summary: Trouser Sizes
      description: List Trouser Sizes
      parameters:
      - name: model_name
        in: query
        description: Trouser sizes available for model_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Trouser Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_default-measurements:
    get:
      tags:
      - Trouser
      summary: Trouser Default Measurements
      description: List Trouser Default Measurements
      parameters:
      - name: model_name
        in: query
        description: Trouser Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Trouser Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Trouser Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_default-measurements/{id}:
    get:
      tags:
      - Trouser
      summary: Size
      description: Size
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserDefaultMeasurement'
        "400":
          description: Invalid Trouser Default Measurement id supplied
        "404":
          description: Trouser Default Measurement not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_primary-alterations:
    get:
      tags:
      - Trouser
      summary: Trouser Primary Alterations
      description: List Trouser Primary Alterations
      responses:
        "200":
          description: An array of Trouser Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_primary-alterations/{id}:
    get:
      tags:
      - Trouser
      summary: Primary Alteration
      description: Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserPrimaryAlteration'
        "400":
          description: Invalid Trouser Primary Alteration id supplied
        "404":
          description: Trouser Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-alterations:
    get:
      tags:
      - Trouser
      summary: Trouser Secondary Alterations
      description: List Trouser Secondary Alterations
      responses:
        "200":
          description: An array of Trouser Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrouserSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trouser_secondary-alterations/{id}:
    get:
      tags:
      - Trouser
      summary: Secondary Alteration
      description: Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrouserSecondaryAlteration'
        "400":
          description: Invalid Trouser Secondary Alteration id supplied
        "404":
          description: Trouser Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_models:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Models
      description: List Waistcoat Models
      responses:
        "200":
          description: An array of Waistcoat Models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatModel'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_models/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Model
      description: Waistcoat Model
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatModel'
        "400":
          description: Invalid Waistcoat Model id supplied
        "404":
          description: Waistcoat Model not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_pockets:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Pockets
      description: List Waistcoat Pockets
      responses:
        "200":
          description: An array of Waistcoat Front Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_pockets/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Pocket
      description: Waistcoat Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatPocket'
        "400":
          description: Invalid Waistcoat Pocket id supplied
        "404":
          description: Waistcoat Pocket not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_buttons:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Buttons
      description: List Waistcoat Buttons
      responses:
        "200":
          description: An array of Waistcoat Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_buttons/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Button
      description: Waistcoat Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatButton'
        "400":
          description: Invalid Waistcoat Button id supplied
        "404":
          description: Waistcoat Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-options:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Options
      description: List Waistcoat Secondary Options
      responses:
        "200":
          description: An array of Waistcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-options/{id}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Option
      description: Waistcoat Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatSecondaryOption'
        "400":
          description: Invalid Waistcoat Secondary Option id supplied
        "404":
          description: Waistcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_related-secondary-options:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Related Secondary Options
      description: List pairs of Waistcoat Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of Waistcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_related-secondary-options/{name}:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Related Secondary Options
      description: Pairs of Waistcoat Secondary Option that are the same type and
        can't be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          description: Invalid Waistcoat Secondary Option id supplied
        "404":
          description: Waistcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_sizes:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Sizes
      description: List Waistcoat Sizes
      parameters:
      - name: model_name
        in: query
        description: Waistcoat sizes available for model_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Waistcoat Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_default-measurements:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Default Measurements
      description: List Waistcoat Default Measurements
      parameters:
      - name: model_name
        in: query
        description: Waistcoat Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Waistcoat Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of Waistcoat Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_primary-alterations:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Primary Alterations
      description: List Waistcoat Primary Alterations
      responses:
        "200":
          description: An array of Waistcoat Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_primary-alterations/{id}:
    get:
      tags:
      - Waistcoat
      summary: Primary Alteration
      description: Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatPrimaryAlteration'
        "400":
          description: Invalid Waistcoat Primary Alteration id supplied
        "404":
          description: Waistcoat Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-alterations:
    get:
      tags:
      - Waistcoat
      summary: Waistcoat Secondary Alterations
      description: List Waistcoat Secondary Alterations
      responses:
        "200":
          description: An array of Waistcoat Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaistcoatSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waistcoat_secondary-alterations/{id}:
    get:
      tags:
      - Waistcoat
      summary: Secondary Alteration
      description: Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaistcoatSecondaryAlteration'
        "400":
          description: Invalid Waistcoat Secondary Alteration id supplied
        "404":
          description: Waistcoat Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_bases:
    get:
      tags:
      - Overcoat
      summary: Overcoat Bases
      description: List Overcoat Bases
      responses:
        "200":
          description: An array of overcoat bases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatBase'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_bases/{name}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Base
      description: List Overcoat Base Types
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatBase'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_models:
    get:
      tags:
      - Overcoat
      summary: Overcoat Models
      description: List Overcoat Models
      parameters:
      - name: base_name
        in: query
        description: Filter overcoat models by base_name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of overcoat models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatModel'
        "400":
          description: Invalid Overcoat base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_models/{name}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Model
      description: Overcoat Model
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatModel'
        "400":
          description: Invalid Overcoat model name supplied
        "404":
          description: Overcoat model name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_constructions:
    get:
      tags:
      - Overcoat
      summary: Overcoat Constructions
      description: List Overcoat Constructions
      responses:
        "200":
          description: An array of overcoat constructions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatConstruction'
        "400":
          description: Invalid Overcoat base name supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_constructions/{name}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Construction
      description: Overcoat Construction
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatConstruction'
        "400":
          description: Invalid Overcoat Construction name supplied
        "404":
          description: Overcoat Construction not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_linings:
    get:
      tags:
      - Overcoat
      summary: Overcoat Linings
      description: List Overcoat Linings
      responses:
        "200":
          description: An array of overcoat Linings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatLining'
        "400":
          description: Invalid Overcoat Interior id supplied
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_linings/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Lining
      description: Overcoat Lining
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatLining'
        "400":
          description: Invalid Overcoat Lining id supplied
        "404":
          description: Overcoat Lining not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_pockets:
    get:
      tags:
      - Overcoat
      summary: Overcoat Pockets
      description: List Overcoat Pockets
      responses:
        "200":
          description: An array of overcoat Pockets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatPocket'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_pockets/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Pocket
      description: Overcoat Pocket
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatPocket'
        "400":
          description: Invalid Overcoat Pocket id supplied
        "404":
          description: Overcoat Pocket not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_lapel-buttonholes:
    get:
      tags:
      - Overcoat
      summary: Overcoat Lapelbuttonholes
      description: List Overcoat Lapelbuttonholes
      responses:
        "200":
          description: An array of overcoat Lapelbuttonholes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatLapelbuttonhole'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_lapel-buttonholes/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Lapelbuttonhole
      description: Overcoat Lapelbuttonhole
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatLapelbuttonhole'
        "400":
          description: Invalid Overcoat Lapelbuttonhole id supplied
        "404":
          description: Overcoat Lapelbuttonhole not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_buttons:
    get:
      tags:
      - Overcoat
      summary: Overcoat Buttons - TO DO
      description: List Overcoat Buttons
      responses:
        "200":
          description: An array of overcoat Buttons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatButton'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_buttons/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Button - TO DO
      description: Overcoat Button
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatButton'
        "400":
          description: Invalid Overcoat Button id supplied
        "404":
          description: Overcoat Button not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_contrast-threads:
    get:
      tags:
      - Overcoat
      summary: Overcoat Contrast Threads
      description: List Overcoat Contrast Threads
      responses:
        "200":
          description: An array of overcoat Contrast Threads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatContrastThread'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_contrast-threads/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Contrast Thread
      description: Overcoat Contrast Thread
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatContrastThread'
        "400":
          description: Invalid Overcoat Contrast Thread id supplied
        "404":
          description: Overcoat Contrast Thread not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_secondary-options:
    get:
      tags:
      - Overcoat
      summary: Overcoat Secondary Options
      description: List Overcoat Secondary Options
      responses:
        "200":
          description: An array of overcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatSecondaryOption'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_secondary-options/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Secondary Option
      description: Overcoat Secondary Option
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatSecondaryOption'
        "400":
          description: Invalid Overcoat Secondary Option id supplied
        "404":
          description: Overcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_related-secondary-options:
    get:
      tags:
      - Overcoat
      summary: Overcoat Related Secondary Options
      description: List pairs of Overcoat Secondary Options that can not be assigned
        to an order on the same time
      responses:
        "200":
          description: An array of overcoat Secondary Options
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_related-secondary-options/{name}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Related Secondary Options
      description: Pairs of Overcoat Secondary Option that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Overcoat Secondary Option id supplied
        "404":
          description: Overcoat Secondary Option not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_sizes:
    get:
      tags:
      - Overcoat
      summary: Overcoat SizesO
      description: List Overcoat Sizes
      parameters:
      - name: base_name
        in: query
        description: Overcoat sizes available for base_name
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of overcoat Sizes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatSize'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_default-measurements:
    get:
      tags:
      - Overcoat
      summary: Overcoat Default Measurements for model and size
      description: List Overcoat Default Measurements for model and size
      parameters:
      - name: model_name
        in: query
        description: Overcoat Model Name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        description: Overcoat Size
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: An array of overcoat Default Measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatDefaultMeasurement'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_primary-alterations:
    get:
      tags:
      - Overcoat
      summary: Overcoat Primary Alterations
      description: List Overcoat Primary Alterations
      responses:
        "200":
          description: An array of overcoat Primary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatPrimaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_primary-alterations/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Primary Alteration
      description: Overcoat Primary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatPrimaryAlteration'
        "400":
          description: Invalid Overcoat Primary Alteration id supplied
        "404":
          description: Overcoat Primary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_secondary-alterations:
    get:
      tags:
      - Overcoat
      summary: Overcoat Secondary Alterations
      description: List Overcoat Secondary Alterations
      responses:
        "200":
          description: An array of overcoat Secondary Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OvercoatSecondaryAlteration'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_secondary-alterations/{id}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Secondary Alteration
      description: Overcoat Secondary Alteration
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvercoatSecondaryAlteration'
        "400":
          description: Invalid Overcoat Secondary Alteration id supplied
        "404":
          description: Overcoat Secondary Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_related-alterations:
    get:
      tags:
      - Overcoat
      summary: Overcoat Related Alterations
      description: List pairs of Overcoat Alterations that can not be assigned to
        an order on the same time
      responses:
        "200":
          description: An array of overcoat Alterations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /overcoat_related-alterations/{name}:
    get:
      tags:
      - Overcoat
      summary: Overcoat Related Alterations
      description: Pairs of Overcoat Alterations that are the same type and can't
        be defined on the same order
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Invalid Overcoat Alteration id supplied
        "404":
          description: Overcoat Alteration not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shirt_bases:
    get:
      tags:
      - Shirt
      summary: Shirt Bases
      description: List Shirt Bases
      responses:
        "200":
          description: An array of Shirt bases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShirtBase'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shirt_bases/{name}:
    get:
      tags:
      - Shirt
      summary: Shirt Base
      description: List Shirt Base Types
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtBase'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /order:
    post:
      tags:
      - Order
      summary: Add a new order
      description: Add a new order
      operationId: addOrder
      requestBody:
        description: Order object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        "201":
          description: item created
        "400":
          description: "invalid input, object invalid"
        "409":
          description: an existing item already exists
  /orders/{id}:
    get:
      tags:
      - Order
      summary: Order
      description: Get Order with ID
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        "400":
          description: Invalid Base name supplied
        "404":
          description: Base name not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders_tracking/{vte_order}:
    get:
      tags:
      - Order
      summary: Order tracking
      description: Order tracking
      parameters:
      - name: vte_order
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrders'
        "400":
          description: Invalid/incomplete Order reference supplied
        "404":
          description: Order reference not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders_dateexport:
    post:
      tags:
      - Order
      summary: Estimate export date for a new order
      description: ""
      operationId: estimateOrder
      requestBody:
        description: Order object that needs to be estimated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        "405":
          description: Invalid input
  /shipment_addresses:
    get:
      tags:
      - Shipment Address
      summary: Shipment Addresses
      description: List Shipment Addresses
      responses:
        "200":
          description: An array of Shipment Addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentAddress'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Shipment Address
      summary: Update a Shipment Address
      description: ""
      operationId: editShipmentAddress
      requestBody:
        description: Shipment Address object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAddress'
      responses:
        "405":
          description: Invalid input
    post:
      tags:
      - Shipment Address
      summary: Add a new Shipment Address
      description: ""
      operationId: addShipmentAddress
      requestBody:
        description: Shipment Address object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAddress'
      responses:
        "405":
          description: Invalid input
  /shipment_addresses/{code}:
    get:
      tags:
      - Shipment Address
      summary: Shipment Addresses
      description: Shipment Address
      parameters:
      - name: code
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentAddress'
        "400":
          description: Invalid Shipment Address code supplied
        "404":
          description: Shipment Address code not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /countries:
    get:
      tags:
      - Country
      summary: Countries
      description: List Countries Codes
      responses:
        "200":
          description: An array of Country Codes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /countries/{code}:
    get:
      tags:
      - Country
      summary: Country
      description: Country
      parameters:
      - name: code
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        "400":
          description: Invalid Country code supplied
        "404":
          description: Country code not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Fabric:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a fabric.
        coupon:
          type: boolean
          description: Fabric is ordered by coupon
          default: false
        coupon_client:
          type: boolean
          description: "Coupon is ordered by client, required if coupon = true"
          default: false
        coupon_vendor:
          type: string
          description: "Vendor for fabric, required if coupon = true"
          default: ""
        type:
          type: string
          description: "Fabric type : Plain|Stripes|Check, required if coupon = true"
          default: UNI
        coupon_deliverydate:
          type: string
          description: Delivery date for fabric if coupon provided by client
          format: date
        coupon_idcatalog:
          type: string
          description: Fabric id catalog
    FabricStock:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier representing a fabric.
        stock_qty:
          type: number
          description: Quantity in stock.
        status:
          type: string
          description: "Fabric status [available, out_of_stock, low_stock]"
    Jacket:
      required:
      - Shoulder_line
      - base_name
      - construction_name
      - interior_name
      - linings
      - model_name
      - pockets_name
      - quantity
      - size
      - sleeve_head_name
      - vents_name
      type: object
      properties:
        fabric:
          $ref: '#/components/schemas/Fabric'
        quantity:
          type: integer
          description: fabric quantity (id=Vcant; lbl=QTY; param=veste_qt)
          format: int32
          default: 1
        Shoulder_line:
          type: string
          description: Jacket Shoulder slope  (id=VShSlope; lbl=SHOULDER LINE; param=VShSlope)
          enum:
          - LIGHT
          - STANDARD
          - STRAIGHT
          default: STANDARD
        construction:
          type: string
          description: (id=Vconstructie; lbl=CONSTRUCTION; param=construction)
          enum:
          - ZERO GRAVITY
          - TESK
          - PRESTIGE SOFT
          - PRESTIGE
          - SIES
          - SEMI-TRAD SOFT
          - SEMI-TRAD
          - TRADITIONALA SOFT
          - TRADITIONALA
          - TESKW45
          - TESKW25
          default: PRESTIGE
        sleeve_head:
          type: string
          description: Jacket Sleeve Head name  (id=VcapManeca; lbl=SLEEVE HEAD; param=capmaneca)
          enum:
          - NAS/K
          - NAN/0
          - NAX/0
          - RO/E
          - RE/E
          - REX/E
          - RO/A
          - RE/A
          - REX/A
        base_name:
          type: string
          description: Jacket Base name (id=VmodelIncercat; lbl=BASE; param=modele)
          enum:
          - G
          - GA
          - GAD
          - GD
          - GT
          - UG
        front_name:
          type: string
          description: Jacket Front name (id=Vmodel; lbl=FRONT; param=Vmodel si modele)
          enum:
          - "402"
          - "499"
          - "515"
          - "523"
          - "326"
          - "328"
          - "426"
          - "428"
          - "592"
          - "593"
          - DB592
          - DB542R
          - DB541R
          - "83"
          - "82"
          - "73"
          - "16"
          - "6016"
          - "05"
          - "053"
          - "32"
          - "6032"
          - "58"
          - "581"
          - "42"
          - "59"
          - "591"
          - DB54
          - "96"
          - "968"
          - "06"
          - DB
          - WI
          - CYR
          - IPA
          - FR
          - 42R
          - OF
          - FO
          - TAIL
          - CUT
          - SHORTER-CUT
          - LUCAS
          - MAX
          - LUCAS59
          - MO
        interior:
          type: string
          description: Jacket interior name  (id=Vinterior; lbl=INTERIOR; param=interieur)
          enum:
          - FL
          - FLPF
          - HLA
          - HLB
          - AF1
        pockets:
          type: string
          description: "Jacket pockets (id=VbuzunareFata, label=POCKETS, param=poches)"
          enum:
          - A
          - B
          - B1
          - C
          - D
          - D1
          - J100
          - J200
          - J300
          - J101
          - PO
          - RU3
          - RU2
          default: B
        vents:
          type: string
          description: Jacket vents  (id=Vslit; lbl=VENTS; param=fentes)
          enum:
          - "2"
          - "1"
          - "5"
          default: "1"
        cuffs:
          type: string
          description: Jacket cuffs
          enum:
          - BF3
          - BO3
          - BF4
          - BO4
          - BF5
          - BO5
          - BF6
          - BO6
          - BFU1
          - BOU1
          - BFC3
          - BOC3
          - BFC4
          - BOC4
          - BFC5
          - BOC5
          - BFC6
          - BOC6
          - BO0
          - B0T
        amf:
          type: string
          description: Jacket amf
          enum:
          - A1
          - A11
          - A12
          - A5
          - A51
          - A52
          - S2
          - S5
        linings:
          type: array
          items:
            $ref: '#/components/schemas/JacketLining'
          default:
          - id: A
            value: "20"
            description: main lining  (id=VdoublA; lbl=MAIN LINING - A; param=doublure_a)
          - id: B
            value: "21"
            description: sleeve lining  (id=VdoublA; lbl=SLEEVE LINING - B; param=doublure_b)
          - id: X
            value: "22"
        buttons:
          type: string
          description: Jacket Buttons type name  (id=Vnasturi; lbl=BUTTONS; param=boutons)
        collar_felt:
          type: string
          description: Jacket Collar Felt type name  (id=Vguler; lbl=COLLAR FELT;
            param=feutre)
        monogram:
          $ref: '#/components/schemas/Monogram'
        secondary_options:
          type: array
          items:
            type: string
            description: List of secondary options
          default:
          - A5
          - BXC
        bow_tie_fabric:
          type: string
          description: Bow tie frabic reference  (id=PpcodTesatura; lbl=BOWTIE FABRIC
            REF; param=tissu_papion)
        bow_tie_quantity:
          type: integer
          description: Bow tie quantity(id=Ppcant; lbl=QTY; param=papion_qte)
          format: int32
          default: 0
        lavaliere_ref_name:
          type: string
          description: Lavaliere reference  (id=CcodTesatura; lbl=LAVARIERE REF; param=tissu_cravaliere)
        lavaliere_quantity:
          type: integer
          description: Lavaliere quantity  (id=Ccant; lbl=QTY; param=cravaliere_qte)
          format: int32
          default: 0
        handkerchief_fabric:
          type: string
          description: Handkerchief frabic reference  (id=BcodTesatura; lbl=HANDKERCHIEF
            FABRIC; param=tissu_pochette)
        handkerchief_quantity:
          type: integer
          description: Handkerchief quantity  (id=Bcant; lbl=QTY; param=pochette_qte)
          format: int32
          default: 0
        measurements:
          $ref: '#/components/schemas/JacketMeasurements'
        size_tried:
          type: integer
          description: size tried (id=VmarimeIncercata; lbl=SIZE TRIED; param=taillev)
          format: int32
          default: 0
        total length:
          type: integer
          description: (id=VlungimeSpate; lbl=TOTAL LENGTH; param=longueur_dos)
          format: int32
          default: 0
        sleeve_length_left_size:
          type: integer
          description: sleeve length left size  (id=VlungimeManecaStanga; lbl=SLEEVE
            LENGTH / LEFT; param=manche_gauche)
          format: int32
          default: 0
        sleeve_length_right_size:
          type: integer
[...]
